.menu__lista__itens {
    display: block;
    color: rgba(3, 1, 20, 0.85);
    padding: 10px 20px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.menu__lista__itens a{
    text-decoration: none;
    color:indianred;
}

.menu__lista__itens a:hover {
    background: rgba(17, 16, 19, 0.4);
    color: antiquewhite;
    border-radius: 4px;
    width: 10rem;
    padding: 14px 10px;
    margin-left: 10px;
}

.menu__lista_itens a:hover:active {
    background-color: bisque;
}