.fornecedores__listas {
    position: relative;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.fornecedor__lista img{
    width: 30%;
    vertical-align: top;
    

}
