.rodape {
    position: relative;
    text-align: center;
    margin-top: 30%;
    border-top: 1px solid blueviolet;
}

.rodape__titulo {
    
    margin-top: 30px;
    padding-bottom: 8em;
    font-size: 1.5em;
}

.rodape__produtos {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 2%;
    border-bottom: 1px solid blueviolet;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.rodape__produtos img {
    width: 35%;
    justify-self: center;
}

.rodape__redesSociais {
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    margin-top: 1rem;
}

.rodape__redeSociais--titulo{
    font-weight: bold;
    padding-top: 3em;
}
.rodape__redeSociais--face img {
    grid-row: 2;
    width: 10%;
    justify-self: flex-end;
}
.rodape__redeSociais--insta img {
    grid-row:2 ;
    width: 10%;
    justify-self: flex-end;
}

.rodape__redeSociais--siga {
    background: rgb(121, 133, 129);
    border-radius: 20%;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 87%;
    opacity: .45;
    position: fixed;
    padding-left: 15px;
    width: 10%;

}

.rodape__redeSociais--sigaWhatsapp img, h3 {
    display: inline;
    vertical-align: middle;
    width: 20%;
}
