.cabecalho p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 15px 0px;
}

#form-inclusao {
    display: inline-block;
    width: 80%;
    justify-content: center;
    align-content: center;
    margin-left: 10%;
}

.legenda {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    padding: 5px 0px;
}

input:first-letter {
    text-transform: capitalize;
}

input:focus{
    background-color: darkgrey;
}
label {
    padding-left: 5px;
    font-size: 15px;
}

.agenda,
.cliente,
.marca-modelo,
.servicos {
    border: 1px solid wheat;
    box-sizing: border-box;
    border-radius: 2ch;
    padding: 5px 20px;
    min-height: 50px;
}

textarea {
    margin-top: 20px;
    padding: 0px;
    vertical-align: top;
}

#incluir-servico {
    display: inline-block;
    justify-content: center;
    margin-top: 15px;
    margin-left: 20%;
    padding: 10px;
    width: 50%;
    text-align: center;
    align-items: center;
}

.listagem {
    margin-top: 15px;
}

.listagem p{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0px;
}
.tabela {
    border-collapse: collapse;
    width: 100%;
}

.tabela th,
td {
    border: 1px solid;
    width: auto;
    height: 20px;
    padding: 15px;
    text-align: left;
}

.tabela th{
    text-align: center;
    background-color: cadetblue;
}