.cabecalho__banner {
    position: fixed;
    width: 370px;
    height: 20vw;
    display: flex;
    justify-content: center;
    top:3em;
    z-index:2;
    box-sizing: border-box;
    overflow: hidden;
}
.cabecalho__banner--titulo {
    font-family: var(--fonte-textoTitulo);
    font-weight: 650;
    font-size: 3.6em;
    align-self: center;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: var(--cor-tituloSecundario);
}

.cabecalho__banner--video {
    position: absolute;
    left:0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.cabecalho__nav {
 position: fixed;
 top:0%;
 padding: .2em;
 z-index: 2;
 background-color: #1C658C;
width: 370px;

}

.cabecalho__menu--items{
    position: relative;
    display: flex;
    width:80vw;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
.cabecalho__nav--ancor {
    color: var(--cor-tituloPrincipal);
    font-family: var(--fonte-textoLink);
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 600;
    margin: 0 1em 0 1em;
}
