.cabecalho__banner {
    position: fixed;
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    top:8%;
    z-index:2;
}
.cabecalho__banner--titulo {
    font-family: var(--fonte-textoTitulo);
    font-weight: 650;
    font-size: 3.6em;
    align-self: center;
    position: absolute;
    z-index: 2;
    color: var(--cor-textoPrincipal);
}

.cabecalho__banner--video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cabecalho__nav {
 position: fixed;
 top:0%;
}

.cabecalho__menu--items{
    position: relative;
    display: flex;
    width:100vw;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    
}
.cabecalho__nav--ancor {
    color: var(--cor-textoLinkPrincipal);
    font-family: var(--fonte-textoLink);
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 600;
    padding: 0 2em;
    margin: 0 1em 0 1em;
}
