@import url("cabecalho.css");
@import url("container.css");
@import url("swiper.css");
@import url("servicos.css");
@import url("informacoes-servicos.css");

:root {
    --cor-bgPrincipal: #69788c;
    --cor-bgSecundario: #1a232b;
    --cor-bannerPrincipal: #011640;
    --cor-bannerSecundario: #4951F2;
    --cor-titulo:white;
    --cor-titulo-swiper:#DFF6FF;
    --cor-tituloPrincipal: #010326;
    --cor-tituloSecundario:#203f59  ;
    --cor-textoPrincipal: #8C7472;
    --cor-textoSecundario: #627173;
    --cor-textoLinkPrincipal:#B69F5E;
    --cor-textoLinkSecundario:#aec6cf;
    --fonte-textoPrincipal:'Poppins', sans-serif;
    --fonte-textoSecundario:'Bad Script', cursiva;
    --fonte-textoTitulo:'Cabin Sketch', cursive;;
    --fonte-textoDescricao:'Didact Gothic', sans-serif;
    --fonte-textoLink:'Abyssinica SIL', serif;
}
body {
    background: #d9d3cc;
}
