.swiper {
    width: 650px;
    height: 500px;
    position: relative;
}

.swiper-slide  {
    position: relative;
}
.swiper-slide h3{
    position: absolute;
    top: 1.6em;
    padding: 0 5em;
    font-family: var(--fonte-textoDescricao);
    color: var(--cor-textoPrincipal);
    font-size: 2em;
}

.swiper-slide img {
    border-radius: 10%;
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 1.6em 0;
}