.servicos__lista__item{
    /* position: absolute; */
    width: 25%;
    height: 95%;
    border: 1px solid wheat;
    box-sizing: border-box;
    border-radius: 2ch;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.servicos__lista__item img {
    display: flex;
    border-radius: 50%;
    width: 100%;
    height: 95%;
    border-bottom: 2ch;
}